---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


<p>
I am currently a Teaching Assistant for Pragmatics (LIGN 160) at UCSD. My office
hours are on Mondays 1pm-2pm and Wednesdays 10am-11am.
</p>

<p>
Other classes I have TA-ed for:
    <ul>
        <li>Making and Break Codes (LIGN 17; Winter 2019; Instructor: Andy Kehler)</li>
        <li>Deep Learning for Natural Language Understanding (LIGN 167; Fall 2018; Instructor: Leon Bergen)</li>
        <li>Computational Linguistics (LIGN 160; Spring 2017; Instructor: Priyanka Biswas)</li>
    </ul>
</p>   
<!-- {% include base_path %} -->

<!-- {% for post in site.teaching reversed %} -->
<!-- {% include archive-single.html %} -->
<!-- {% endfor %} -->
